@model List<Testimonial>
@{
    ViewData["Title"] = "Index";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-action">
                        Testimonials Table
                        <div class="create-div d-flex j-c-fe">
                            <a asp-action="create" class="btn btn-success">Create Testimonial</a>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>FullName</th>
                                        <th>Position</th>
                                        <th>Description</th>
                                        <th style="width:200px">Image</th>
                                        <th>Buttons</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.Order</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Position</td>
                                        <td>@item.Desc</td>
                                        <td>
                                            <img class="" style="width:100%" src="/uploads/testimonials/@item.Image" />
                                        </td>
                                        <th>
                                            <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning w-100 mb-1">Edit</a>
                                            <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger w-100">Delete</a>
                                        </th>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

