@model Blog
@{
    ViewData["Title"] = "Detail";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row d-flex j-c-sb a-i-c before_after-none">
            <div class="col-md-3">
                <h1>Blog</h1>
            </div>
            <div class="col-md-3">
                <a asp-action="index" class="waves-effect waves-light btn btn-info" style="width:100%">Back To Table</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="card bg-orange">
                            <div class="card-content black-text">
                                <span class="card-title">Title</span>
                                <p>
                                    @Model.Title
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="card bg-red">
                            <div class="card-content black-text">
                                <span class="card-title">Date</span>
                                <p>
                                    @Model.Date
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="card bg-yellow">
                            <div class="card-content black-text">
                                <span class="card-title">Author</span>
                                <p>
                                    @Model.Author
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card bg-light-green">
                    <div class="card-content black-text">
                        <span class="card-title">Description</span>
                        <p>
                            @Model.Desc
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card bg-light-blue">
                    <div class="card-content black-text">
                        <span class="card-title">Tags</span>
                        @{
                            var tags = "";
                        }
                        @foreach (var item in Model.BlogTagBlogs)
                        {
                            if (item.Id != Model.BlogTagBlogs.LastOrDefault().Id)
                            {
                                tags += item.BlogTag.Name + ", ";
                            }
                            else
                            {
                                tags += item.BlogTag.Name;
                            }

                        }
                        <p>
                            @tags
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-blue">
                    <div class="card-content white-text">
                        <span class="card-title">Blog Image</span>
                        <div class="image">
                            <img style="width: 100%" src="/uploads/blogs/@Model.Image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 @(Model.TeaxtImage!=null?"":"d-none")">
                <div class="card bg-violet">
                    <div class="card-content white-text">
                        <span class="card-title">Blog Text Image</span>
                        <div class="image">
                            <img style="width: 100%" src="/uploads/blogs/@(Model.TeaxtImage!=null?Model.TeaxtImage:"")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-green">
                    <div class="card-content white-text">
                        <span class="card-title">Text</span>
                        <p>
                            @Model.Text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

