@model Offer
@{
    ViewData["Title"] = "Create";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-action">
                        Create Offer
                    </div>
                    <div class="card-content">
                        <form class="col s12" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <select class="form-control" style="height:65%" asp-for="ProductId" asp-items="@(new SelectList(ViewBag.IsOnOfferProducts, "Id","Name"))">
                                        </select>
                                        <label asp-for="ProductId" class="active">Is On Offer Products: </label>
                                        <span class="text-danger" asp-validation-for="ProductId"></span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 mb-15">
                                    <div class="input-field">
                                        <input asp-for="IsMain" class="validate filled-in @(Model?.IsMain!=null?"valid":"")" />
                                        <label asp-for="IsMain" class="@(Model?.IsMain!=null?"active":"")">IsMain</label>
                                        <span class="text-danger" asp-validation-for="IsMain"></span>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-3">
                                    <div class="input-field">
                                        <input asp-for="Order" class="validate @(Model?.Order!=null?"valid":"")">
                                        <label asp-for="Order" class="@(Model?.Order!=null?"active":"")">Order</label>
                                        <span class="text-danger" asp-validation-for="Order"></span>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-3">
                                    <div class="input-field">
                                        <div class="input-field">
                                            <input type="text" name="countOffers" value="@ViewBag.OffersCount" id="countOffers" class="validate valid" disabled>
                                            <label for="countOffers" class="active">Offers Count</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <input asp-for="OfferTime" class="validate @(Model?.OfferTime!=null?"valid":"")">
                                        <label asp-for="OfferTime" class="active">Offer Time: </label>
                                        <span class="text-danger" asp-validation-for="OfferTime"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <input asp-for="Predecessor" class="validate @(Model?.Predecessor!=null?"valid":"")">
                                        <label asp-for="Predecessor" class="@(Model?.Predecessor!=null?"active":"")">Predecessor</label>
                                        <span class="text-danger" asp-validation-for="Predecessor"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <input asp-for="SupporType" class="validate @(Model?.SupporType!=null?"valid":"")">
                                        <label asp-for="SupporType" class="@(Model?.SupporType!=null?"active":"")">SupporType</label>
                                        <span class="text-danger" asp-validation-for="SupporType"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <input asp-for="Cushioning" class="validate @(Model?.Cushioning!=null?"valid":"")">
                                        <label asp-for="Cushioning" class="@(Model?.Cushioning!=null?"active":"")">Cushioning</label>
                                        <span class="text-danger" asp-validation-for="Cushioning"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="waves-effect waves-light btn btn-success" style="width:180px">Create</button>
                            <a asp-action="index" class="waves-effect waves-light btn btn-danger m-lt-buttons-1" style="width:180px">Cancel</a>
                        </form>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
