@model BlogVM
@{
    ViewData["Title"] = "Index";
}

<!-- Main Start -->
<main>
    <!-- Main-header start -->
    <section id="main-header" data-bg-image="@Url.Content("/uploads/setting/" + Model.Setting.MainBgImgSrc)">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="header-title">Blog</h2>
                    <ul class="page-list">
                        <li class="page-item"><a asp-controller="home" asp-action="index">Home</a></li>
                        <li class="page-item active"> Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Main-header end -->
    <!-- Blog start -->
    <section id="blog" class="blogs py-section">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-lg-6 col-md-6 col-xl-4 mb-5">
                        <div class="single-blog justify-content-between">
                            <div class="text-image">
                                <div class="blog-image">
                                    <a asp-action="detail" asp-route-id="@item.Id">
                                        <div class="image" data-bg-image="@Url.Content("/uploads/blogs/" + item.Image)"></div>
                                    </a>
                                </div>
                                <div class="blog-text d-flex justify-content-between">
                                    <div class="text">
                                        <div class="blog-athor-date">
                                            <span class="blog-date">
                                                <i class="icon-calendar"></i>
                                                @item.Date.ToString("dd,MMM yyyy")
                                            </span>
                                            <span>
                                                <i class="icon-user"></i>
                                                @item.Author
                                            </span>
                                        </div>
                                        <h5 class="blog-heading">
                                            <a class="blog-heading-link" asp-action="detail" asp-route-id="@item.Id">
                                                @item.Title
                                            </a>
                                        </h5>
                                        <p>
                                            @item.Desc
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-text">
                                <a asp-action="detail" asp-route-id="@item.Id" class="blog-btn"> Read More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="pagination text-center text-lg-end">
                <div class="pages">
                    <ul class="pagination_list">
                        <li class="li @(Model.SelectedPage<=1?"disabled":"")">
                            <a asp-action="pagenation" asp-route-page="@(Model.SelectedPage-1)" asp-route-tagId="@Model.TagId" class="page-link"><i class="icon-angle-left"></i></a>
                        </li>
                        @if (Model.SelectedPage == 1)
                        {
                            @if (Model.TotalPages >= 3)
                            {
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="1" asp-route-tagId="@Model.TagId">1</a></li>
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="2" asp-route-tagId="@Model.TagId">2</a></li>
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="3" asp-route-tagId="@Model.TagId">3</a></li>
                            }
                            else if (Model.TotalPages == 2)
                            {
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="1" asp-route-tagId="@Model.TagId">1</a></li>
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="2" asp-route-tagId="@Model.TagId">2</a></li>
                            }
                            else
                            {
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="1" asp-route-tagId="@Model.TagId">1</a></li>
                            }

                        }
                        else if (Model.SelectedPage == Model.TotalPages)
                        {
                            @if (Model.TotalPages >= 3)
                            {
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="@(Model.TotalPages-2)" asp-route-tagId="@Model.TagId">@(Model.TotalPages-2)</a></li>
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="@(Model.TotalPages-1)" asp-route-tagId="@Model.TagId">@(Model.TotalPages-1)</a></li>
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="@Model.TotalPages" asp-route-tagId="@Model.TagId">@Model.TotalPages</a></li>
                            }
                            else if (Model.TotalPages == 2)
                            {
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="@(Model.TotalPages-1)" asp-route-tagId="@Model.TagId">@(Model.TotalPages-1)</a></li>
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="@Model.TotalPages" asp-route-tagId="@Model.TagId">@Model.TotalPages</a></li>
                            }
                            else
                            {
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="@Model.TotalPages" asp-route-tagId="@Model.TagId">@Model.TotalPages</a></li>
                            }
                        }
                        else
                        {
                            @if (Model.TotalPages >= 3)
                            {
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="@(Model.SelectedPage-1)" asp-route-tagId="@Model.TagId">@(Model.SelectedPage-1)</a></li>
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="@Model.SelectedPage" asp-route-tagId="@Model.TagId">@Model.SelectedPage</a></li>
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="@(Model.SelectedPage+1)" asp-route-tagId="@Model.TagId">@(Model.SelectedPage+1)</a></li>
                            }
                            else if (Model.TotalPages == 2)
                            {
                                <li class="li"><a class="page-link" asp-action="pagenation" asp-route-page="@(Model.SelectedPage-1)" asp-route-tagId="@Model.TagId">@(Model.SelectedPage-1)</a></li>
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="@Model.SelectedPage" asp-route-tagId="@Model.TagId">@Model.SelectedPage</a></li>
                            }
                            else
                            {
                                <li class="li"><a class="page-link active" asp-action="pagenation" asp-route-page="@Model.SelectedPage" asp-route-tagId="@Model.TagId">@Model.SelectedPage</a></li>
                            }

                        }
                        <li class="li @(Model.SelectedPage>Model.TotalPages-1?"disabled":"")">
                            <a asp-action="pagenation" asp-route-page="@(Model.SelectedPage+1)" asp-route-tagId="@Model.TagId" class="page-link"><i class="icon-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog end -->
</main>
<!-- Main End -->

@section Scripts{ 
<script>
    $(document).ready(function (e) {
        $(document).on("click", ".pagination ul.pagination_list a", function (e) {
            e.preventDefault();
            let url = $(this).attr("href");
            console.log(url);
            async function ResponseHtml() {
                const response = await fetch(url)
                    .then(resp => resp.text())
                    .then(data => {
                        console.log("kecdi");
                        $("#blog").html(data);
                        if ($("[data-bg-image]")) {
                            $("[data-bg-image]").each(function (e) {
                                $(this).css(
                                    "background-image",
                                    "url(" + $(this).attr("data-bg-image") + ")"
                                );
                            });
                        }
                    }
                    );
            }

            ResponseHtml();
        });
    });
</script>
}