@model Order
@{
    ViewData["Title"] = "OrderDetail";
    Setting setting = ViewBag.Setting;
    int countSum = 0;
    double priceSum = 0;
    double totalPrice = 0;
}

<!-- Main Start -->
<main>
    <!-- Main-header start -->
    <section id="main-header" data-bg-image="@Url.Content("/uploads/setting/" + setting.MainBgImgSrc)">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="header-title">Order</h2>
                    <ul class="page-list">
                        <li class="page-item"><a asp-controller="home" asp-action="index">Home</a></li>
                        <li class="page-item active"> Order</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Main-header end -->
    <!-- Product detail start -->
    <section id="wishlist-items" class="py-section">
        <div class="container">
            <h3 class="page-title d-flex justify-content-between">
                Your Order items
                <a asp-action="orders" class="btn btn-secondary" style="color:white">Back to Orders List</a>
            </h3>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="product-table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Count</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model.OrderItems)
                                    {
                                        <tr>
                                            <td class="product-image">
                                                <a href="#">
                                                    <img class="ms-2" src="~/uploads/products/@item.Image"
                                                         alt="product">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">@item.Name</a>
                                            </td>
                                            <td class="product-price"><span class="amount">$@item.Price.ToString("#.00")</span></td>
                                            <td class="product-count">
                                                @item.Count
                                            </td>
                                            @{
                                                totalPrice = item.Count * item.Price;
                                            }
                                            <td class="product-total-price">
                                                @totalPrice.ToString("#.00")
                                            </td>
                                        </tr>
                                        countSum += item.Count;
                                        priceSum += item.Count * item.Price;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Grand Total: </th>
                                    <th>Total products: @countSum</th>
                                    @if (Model.IsExpress == null)
                                    {
                                        <th>Transport Price: 0</th>
                                    }
                                    else
                                    {
                                        if ((bool)Model.IsExpress)
                                        {
                                            <th>Express Price: @Model.ShippingPrice?.ToString("#.00")</th>
                                        }
                                        else
                                        {
                                            <th>Standart Price: @Model.ShippingPrice?.ToString("#.00")</th>
                                        }
                                    }
                                    <th>Sum Total:</th>
                                    <th>$@priceSum.ToString("#.00")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product detail end -->
</main>
<!-- Main End -->
