
@model Product
@{
    ViewData["Title"] = "Delete";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-action">
                        Delete Product
                    </div>
                    <div class="card-content">
                        <form class="col s12" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="Name" class="validate @(Model?.Name!=null?"valid":"")" disabled>
                                            <label asp-for="Name" class="@(Model?.Name!=null?"active":"")">Name</label>
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="Code" class="validate @(Model?.Code!=null?"valid":"")" disabled>
                                            <label asp-for="Code" class="@(Model?.Code!=null?"active":"")">Code</label>
                                            <span class="text-danger" asp-validation-for="Code"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="CostPrice" class="validate @(Model?.CostPrice!=null?"valid":"")" disabled />
                                            <label asp-for="CostPrice" class="@(Model?.CostPrice!=null?"active":"")">Cost Price</label>
                                            <span class="text-danger" asp-validation-for="CostPrice"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="Price" class="validate @(Model?.Price!=null?"valid":"")" disabled />
                                            <label asp-for="Price" class="@(Model?.Price!=null?"active":"")">Price</label>
                                            <span class="text-danger" asp-validation-for="Price"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="DiscountPercent" class="validate @(Model?.DiscountPercent!=null?"valid":"")" disabled />
                                            <label asp-for="DiscountPercent" class="@(Model?.DiscountPercent!=null?"active":"")">Discount Percent</label>
                                            <span class="text-danger" asp-validation-for="DiscountPercent"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="Dimensions" class="validate @(Model?.Dimensions!=null?"valid":"")" disabled />
                                            <label asp-for="Dimensions" class="@(Model?.Dimensions!=null?"active":"")">Dimensions</label>
                                            <span class="text-danger" asp-validation-for="Dimensions"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="Materials" class="validate @(Model?.Materials!=null?"valid":"")" disabled />
                                            <label asp-for="Materials" class="@(Model?.Materials!=null?"active":"")">Materials</label>
                                            <span class="text-danger" asp-validation-for="Materials"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="Weight" class="validate @(Model?.Weight!=null?"valid":"")" disabled />
                                            <label asp-for="Weight" class="@(Model?.Weight!=null?"active":"")">Weight</label>
                                            <span class="text-danger" asp-validation-for="Weight"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="IsOnOffer" class="validate filled-in @(Model?.IsOnOffer!=null?"valid":"")" disabled />
                                            <label asp-for="IsOnOffer">Is On Offer</label>
                                            <span class="text-danger" asp-validation-for="IsOnOffer"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <textarea asp-for="Desc" class="validate @(Model?.Desc!=null?"valid":"")" disabled></textarea>
                                            <label asp-for="Desc" class="@(Model?.Desc!=null?"active":"")">Desc</label>
                                            <span class="text-danger" asp-validation-for="Desc"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <textarea asp-for="OtherInfo" class="validate @(Model?.OtherInfo!=null?"valid":"") materialize-textarea" disabled></textarea>
                                            <label asp-for="OtherInfo" class="@(Model?.OtherInfo!=null?"active":"")">OtherInfo</label>
                                            <span class="text-danger" asp-validation-for="OtherInfo"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @{
                                    ProImage poster = Model?.ProImages.FirstOrDefault(x => x.PosterStatus == true);
                                    ProImage hoverPoster = Model?.ProImages.FirstOrDefault(x => x.PosterStatus == false);
                                    List<ProImage> images = Model?.ProImages.Where(x => x.PosterStatus == null).ToList();
                                }
                                <div class="col-md-6 col-sm-6">
                                    <div class="card p-1">
                                        <div class="image-poster">
                                            @if (poster != null)
                                            {
                                                <div class="image-wrapper" style="position:relative">
                                                    <img style="width:50%" src="~/uploads/products/@poster.Image" alt="Poster Image" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="card p-1">
                                        <div class="image-poster">
                                            @if (hoverPoster != null)
                                            {
                                                <div class="image-wrapper" style="position:relative">
                                                    <img style="width:50%" src="~/uploads/products/@hoverPoster.Image" alt="Poster Image" />
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @if (images != null)
                                {
                                    @foreach (var item in images)
                                    {
                                        <div class="col-md-3 col-sm-6">
                                            <div class="card p-1">
                                                <div class="image-poster">
                                                    <div class="image-wrapper" style="position:relative">
                                                        <img style="width:100%" src="~/uploads/products/@item.Image" alt="Product Image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-5 col-sm-6 mt-1">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="Count" class="validate @(Model?.Count!=null?"valid":"")" disabled />
                                            <label asp-for="Count" class="@(Model?.Count!=null?"active":"")">Count</label>
                                            <span class="text-danger" asp-validation-for="Count"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6 mt-1">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <input asp-for="CreatedAt" class="validate @(Model?.CreatedAt!=null?"valid":"")" disabled />
                                            <label asp-for="CreatedAt" class="active">CreatedAt</label>
                                            <span class="text-danger" asp-validation-for="CreatedAt"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-5 col-sm-6 mt-1">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <select class="form-control" style="height:65%" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id","Name"))" disabled>
                                            </select>
                                            <label asp-for="CategoryId" class="active">Categories: </label>
                                            <span class="text-danger" asp-validation-for="CategoryId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6 mt-1">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <select class="form-control" style="height:65%" asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands, "Id","Name"))" disabled>
                                            </select>
                                            <label asp-for="BrandId" class="active">Brands: </label>
                                            <span class="text-danger" asp-validation-for="BrandId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6 mt-1">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <select class="form-control" style="height: 65%; overflow-y: auto; background-image: none;" asp-for="TagIds" asp-items="@(new SelectList(ViewBag.Tags, "Id","Name"))" disabled>
                                            </select>
                                            <label asp-for="TagIds" class="active">Tags: </label>
                                            <span class="text-danger" asp-validation-for="TagIds"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5 col-sm-6 mt-1">
                                    <div class="row m-0">
                                        <div class="input-field col s12">
                                            <select class="form-control" style="height: 65%; overflow-y: auto; background-image: none;" asp-for="ColorIds" asp-items="@(new SelectList(ViewBag.Colors, "Id","Name"))" disabled>
                                            </select>
                                            <label asp-for="ColorIds" class="active">Colors: </label>
                                            <span class="text-danger" asp-validation-for="ColorIds"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h3 class="ml-25">Are you sure?</h3>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="waves-effect waves-light btn btn-danger" style="width:180px">Delete</button>
                                    <a asp-action="index" class="waves-effect waves-light btn btn-success m-lt-buttons-1" style="width:180px">Cancel</a>
                                </div>
                            </div>
                        </form>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(document).on("change", ".image-file", function () {
                let inputName = "";
                if ($(this)[0].files.length>0) {
                    $(this).next().text("");
                    for (var i = 0; i < $(this)[0].files.length; i++) {
                        inputName = $(this)[0].files[i].name;
                        if ($(this)[0].files.length == 1) {
                            if (i == 0) {
                                if (inputName.length > 25) {
                                    inputName = inputName.substring(0, 22) + "..."
                                }
                                $(this).next().append(inputName);
                            }
                        } else {
                            if (i == 0) {
                                if (inputName.length > 7) {
                                    inputName = inputName.substring(0, 4) + "..."
                                }
                                $(this).next().append(inputName);
                            }else if (i < 3) {
                                if (inputName.length > 7) {
                                    inputName = inputName.substring(0, 4) + ".."
                                }
                                $(this).next().append(", " + inputName);
                            }
                        }
                    }
                    if ($(this)[0].files.length > 3) {
                        $(this).next().append(".. +" + ($(this)[0].files.length - 3));
                    }
                }

                $(this).next().addClass("valid");
                $(this).next().children().addClass("active");
            });

            $(document).on("click", "span#deleteImage", function (e) {
                $(this).parent().parent().parent().parent().remove();
            });
        });
    </script>
}
