@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-action">
                        Products Table
                        <div class="create-div d-flex j-c-fe">
                            <a asp-action="create" class="btn btn-success">Create Product</a>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Cost Price</th>
                                        <th>Price</th>
                                        <th>Count</th>
                                        <th style="width:200px">Image</th>
                                        @*@if (!User.IsInRole("EditorAdmin"))
                                        {
                                            <th>Joins Count</th>
                                        }*@
                                        <th>Buttons</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td><a asp-action="detail" asp-route-id="@item.Id">@item.Name</a></td>
                                        <td>@item.Code</td>
                                        <td class="text-center">@item.CostPrice</td>
                                        <td class="text-center">@item.Price</td>
                                        <td class="text-center">@item.Count</td>
                                        <td class="text-center">
                                            <img class="border border-2" style="width: 60%; border: 0.7px solid #00000035" src="/uploads/products/@item.ProImages.FirstOrDefault(x=>x.PosterStatus==true).Image" />
                                        </td>
                                        <td>
                                            <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning w-100 mb-1">Edit</a>
                                            <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger w-100 mb-1">Delete</a>
                                            @if (!User.IsInRole("EditorAdmin"))
                                            {
                                                <a asp-action="reviews" asp-route-productId="@item.Id" class="btn btn-info w-100">Reviews(@(item.Reviews.Count() > 0 ? item.Reviews.Count() : 0))</a>
                                            }
                                            </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

