@model ProductTag
@{
    ViewData["Title"] = "Edit";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-action">
                        Edit Product Tag
                    </div>
                    <div class="card-content">
                        <form class="col s12" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <input asp-for="Name" class="validate @(Model?.Name!=null?"valid":"")">
                                        <label asp-for="Name" class="@(Model?.Name!=null?"active":"")">Name</label>
                                        <span class="text-danger" asp-validation-for="Name"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <input asp-for="Order" class="validate @(Model?.Order!=null?"valid":"")">
                                        <label asp-for="Order" class="@(Model?.Order!=null?"active":"")">Order</label>
                                        <span class="text-danger" asp-validation-for="Order"></span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-field">
                                        <input type="text" name="countProductTag" value="@ViewBag.ProductTagsCount" id="countProductTag" class="validate valid" disabled>
                                        <label for="countProductTag" class="active">Count ProductTag</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="waves-effect waves-light btn btn-success" style="width:180px">Edit</button>
                                    <a asp-action="index" class="waves-effect waves-light btn btn-danger m-lt-buttons-1" style="width:180px">Cancel</a>
                                </div>
                            </div>
                        </form>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>