@model BasketVM

@if (Model.Count > 0)
{
    <a class="shop-bag action_icon" id="cartlist-button">
        <i class="icon-basket"></i>
        <span>@Model.Count</span>
    </a>
    <!-- Cart Start -->
    <div id="cart">
        <div class="list-wrapper @(Model.IsAddBtn?"":"canvas-opening")">
            <div class="list-header">
                <h3>Cart</h3>
                <button class="canvas-close">
                </button>
            </div>
            <div class="list-items">
                <ul>
                    @foreach (var item in Model.BasketItemVMs)
                    {

                        <li>
                            <div class="row">
                                <div class="col-4">
                                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Product?.Id" class="img">
                                        <img src="~/uploads/products/@item.Product?.GetPosterImage()" alt="@item.Product?.Name">
                                    </a>
                                </div>
                                <div class="col-8">
                                    <div class="content">
                                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Product?.Id" class="title">@item.Product?.Name</a>
                                        <span class="quantity-price">
                                            @item.Count <span>×</span>

                                            @if (item.Product?.DiscountPercent == null)
                                            {
                                                <span class="amount">
                                                    $@item.Product?.Price.ToString("#.00")
                                                </span>
                                            }
                                            else
                                            {
                                                var discountPrice = item.Product?.Price - item.Product?.Price * item.Product?.DiscountPercent / 100;
                                                <span class="amount">
                                                    $@discountPrice?.ToString("#.00")
                                                </span>
                                            }
                                        </span>
                                        <a asp-controller="shop" asp-action="deletefrombasket" asp-route-id="@item.Product.Id" class="remove-from-basket">×</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    <li>
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    <span class="total-text-title">Total Price: </span>
                                    <span class="total-price">@Model.TotalPrice.ToString("#.00")</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-view">
                <a asp-controller="account" asp-action="cart">View Cart</a>
                <a asp-controller="account" asp-action="checkout" class="checkout">Checkout</a>
            </div>
        </div>
    </div>
    <!-- Cart End -->
}
else
{
    <a class="shop-bag action_icon" id="cartlist-button">
        <i class="icon-basket"></i>
    </a>
    <!-- Cart Start -->
    <div id="cart">
        <div class="list-wrapper @(Model.IsAddBtn?"":"canvas-opening")">
            <div class="list-header">
                <h3>Cart</h3>
                <button class="canvas-close">
                </button>
            </div>
            <div class="list-items">
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <span style="display:block;font-size: 20px;color: #266bf9;text-align: center;padding: 5px 10px;border: 2px solid #266bf99c;border-radius: 5px;box-shadow: inset 0px 0px 9px #266bf9;">
                                        Cart is empty ( ^_^')
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Cart End -->
}